@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.loaderCard_animation {
  background: linear-gradient(
    -45deg,
    #787878,
    #898989,
    #000000,
    #898989,
    #828282
  );
  background-size: 600% 600%;
  animation: loader 1.5s infinite;
}

@keyframes loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
